; Параметры Wi-Fi, совместимые с обычным файлом /zifi/zifi.ini.
SSID: "Имя сети"
password: "Пароль Wi-Fi"
time: +2
; Опционально: HTTP-прокси для обхода блокировок зарубежных ретро-архивов (vtrd.in, zxart и т.д.)
; proxy_ip: 173.249.17.177
; proxy_port: 49281
